<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>开启开奖推送后，我们会定时给你推送的最新开奖信息。谢谢您对我们产品的支持！</string>
		<key>footer</key>
		<string></string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>open_1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>open_2</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>open_3</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>open_4</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>open_5</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>title_detail</key>
				<string>每周二、周四、周日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>open_6</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
