<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>RedeemCode</string>
				<key>title</key>
				<string>使用兑换码</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryViewIcon</key>
				<string>arrow_right</string>
				<key>targeVC</key>
				<string>HSFConvertCordVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MorePush</string>
				<key>title</key>
				<string>推送和提醒</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryViewIcon</key>
				<string>arrow_right</string>
				<key>targeVC</key>
				<string>HSFSettingVC</string>
				<key>targeVCPlist</key>
				<string>PushAndRemind</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>handShake</string>
				<key>title</key>
				<string>摇一摇随机选号</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>setting_Shake</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>handShake</string>
				<key>title</key>
				<string>摇一摇随机选号</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>setting_Sounds</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>handShake</string>
				<key>title</key>
				<string>摇一摇随机选号</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>setting_Assistant</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MoreUpdate</string>
				<key>title</key>
				<string>检查新版本</string>
				<key>function</key>
				<string>checkUpData</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreNetease</string>
				<key>title</key>
				<string>更多产品</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryViewIcon</key>
				<string>arrow_right</string>
				<key>targeVC</key>
				<string>HSFMoreProductVC</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>handShake</string>
				<key>title</key>
				<string>摇一摇随机选号</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryViewIcon</key>
				<string>arrow_right</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>关于</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryViewIcon</key>
				<string>arrow_right</string>
				<key>targeVC</key>
				<string>HSFMore_AboutVC</string>
				<key>targeVCPlist</key>
				<string>AboutOur</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
